* {
    user-select: none;
}

h1 {
    color: rgb(20, 18, 18);
}

body {
    background-color: #adadad;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

form {
    width: 50%;
    margin: auto;
}

label {
    font-size: 20px;
}

.inputBlock {
    padding: 35px;
    padding-top: 0;
}

input[type="text"] {
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    width: 70%;
    max-width: 250px;
    min-width: 130px;
}

input[type="button"] {
    border: none;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    outline: none;
    color: rgb(240, 240, 240);
    width: 40%;
    max-width: 170px;
    min-width: 130px;
    margin-bottom: 10px;
}

input[type="button"]:hover {
    background-color: #3e8e41;
    cursor: pointer;
}

input[type="button"]:active {
    background-color: #327535;
}

.fraction {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
}

.fraction>span {
    display: block;
}

.fraction span.denominator {
    border-top: solid black;
}

.fractionsEqual {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    visibility: hidden;
}